@charset "utf-8";
@import"txt";
@import "reset";
@import"nav";
@import"footer";
.vip-top {
    width: 100%;
    height: 50px;
    top: 0;
    text-align: center;
    line-height: 50px;
    @include bgc();
    a {
        color: #000;
        margin: 0 10px;
        &:hover {
            color: #f22;
        }
    }
}

.new-v {
    background: #fff;
    @include bgc(#fff);
    box-sizing: border-box;
    padding-bottom: 20px;
    .h5 {
        padding: 2px 16px 0;
    }
}

.new-pic {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 0 14px;
    li {
        width: 230px;
        height: 290px;
        overflow: hidden;
        margin: 0 6px 12px 0;
        padding: 6px 5px 0px 3px;
        border: 1px solid transparent;
        box-sizing: border-box;
        @include posr();
        &:hover {
            border-color: #ccc;
        }
        span {
            display: block;
            line-height: 30px;
            font-size: 18px;
            color: #f22;
        }
        p {
            line-height: 25px;
            font-size: 12px;
        }
        .my-like {
            @include posa();
            width: 28px;
            height: 28px;
            top: 20px;
            right: 10px;
            padding: 9px 7px;
            box-sizing: border-box;
            @include bgc(#ccc);
            @include borius(50%);
            u {
                display: block;
                width: 14px;
                height: 14px;
                background: url(http://jp.juancdn.com/juanpi/images/list/my-like.png) no-repeat;
            }
            .active {
                background-position-y: -20px;
            }
        }
    }
}

.pg {
    width: 100%;
    text-align: center;
    a {
        display: inline-block;
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        color: #666;
        font-weight: 900;
        &:nth-child(1) {
            border-top-left-radius: 16px 16px;
            border-bottom-left-radius: 16px 16px;
        }
        &:nth-last-child(1) {
            border-top-right-radius: 16px 16px;
            border-bottom-right-radius: 16px 16px;
        }
        &:hover {
            color: #f22;
        }
    }
}

.vip-right {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    @include bgc(#333);
    ul {
        margin-top: 100px;
        width: 36px;
        li {
            width: 36px;
            height: 36px;
            box-sizing: border-box;
            padding: 6px 8px;
            margin-bottom: 10px;
            i {
                display: block;
                width: 20px;
                height: 24px;
                background: url(http://jp.juancdn.com/juanpi/images/global/sidebar.png) no-repeat;
            }
            @for $v from 3 through 7 {
                .v-#{$v} {
                    background-position-y: ($bv*$v)-26px;
                }
            }
            &:hover {
                background: #f22;
                i {
                    background-position-x: $bv;
                }
            }
        }
        .v2 {
            height: 120px;
            padding: 21px 8px;
            .v-2 {
                height: 78px;
                background-position-y: $bv+2px;
            }
        }
    }
}