@charset "UTF-8";
html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: '微软雅黑'; }

ul,
ol,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal; }

b,
strong {
  font-weight: normal; }

i,
em {
  font-style: normal; }

a,
u {
  text-decoration: none; }

img {
  border: 0;
  display: block; }

input,
fieldset {
  outline: none;
  border: 0; }

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden; }

.clear_fix {
  zoom: 1; }

div {
  box-sizing: border-box; }

.box-con {
  width: 1200px;
  margin: 0 auto; }

nav {
  border-bottom: 2px solid #f44; }

.body {
  width: 100%;
  background: #f5f5f5;
  padding-bottom: 50px; }

.nav-top {
  width: 100%;
  background: #f6f6f6; }
  .nav-top .nav-con .top-right {
    width: 40%;
    float: right; }

.login-show,
.my-show,
.bag-show,
.other-show {
  width: 25%;
  float: left;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: center; }
  .login-show a,
  .my-show a,
  .bag-show a,
  .other-show a {
    color: #000;
    margin: 0 3px; }

.login-show a:hover,
.my-show a:hover,
.other-show a:hover {
  color: #f11; }

.login-show :nth-child(2) {
  color: #f11; }

.bag-show {
  position: relative; }
  .bag-show span {
    position: absolute;
    display: block;
    top: 6px;
    left: 18px;
    width: 16px;
    height: 18px;
    background: url(https://jp.juancdn.com/juanpi/images/total/icon-total.png?20160112) 0px 244px; }
  .bag-show a {
    display: block;
    width: 90%;
    height: 30px; }

.bag-show:hover {
  background: #fff;
  box-shadow: 1px 1px 3px #fff; }

.my-show {
  position: relative; }
  .my-show span {
    position: absolute;
    left: -10px;
    color: #ccc; }

.other-show {
  position: relative; }
  .other-show span {
    position: absolute;
    left: 0;
    color: #ddd; }

.login-show {
  position: relative; }
  .login-show .logined-show {
    position: absolute;
    top: 0;
    right: 20px;
    display: none; }
  .login-show .logined-h {
    position: absolute;
    top: 0;
    right: 20px;
    display: none; }
  .login-show .lshow {
    z-index: 2;
    display: block; }

.other-show {
  position: relative; }
  .other-show .nor-ul {
    position: absolute;
    right: 0;
    top: 25px;
    background: #fff;
    display: none;
    border: 1px #ccc solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    z-index: 10; }

.other-show:hover .nor-ul {
  display: block; }

/*导航logo部分*/
.nav-cen {
  position: relative; }

.logo {
  margin: 17px 0;
  width: 210px;
  height: 52px;
  background: url(http://jp.juancdn.com/juanpi/images/total/header-total.gif?20160112) no-repeat;
  background-position: -78px -52px; }

.logo-con {
  position: absolute;
  left: 500px;
  top: 10px;
  width: 465px;
  height: 33px;
  background: url(http://jp.juancdn.com/juanpi/images/total/header-total.gif?20160112) no-repeat; }
  .logo-con a {
    display: inline-block;
    width: 98px;
    height: 16px;
    margin: 0 20px; }

.sosu {
  width: 200px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 8px;
  border: 1px #ccc solid; }
  .sosu input {
    width: 163px;
    height: 33px;
    color: #000;
    background: #ddd; }
  .sosu span {
    position: absolute;
    top: -1px;
    display: inline-block;
    width: 37px;
    height: 34px;
    background: url(http://jp.juancdn.com/juanpi/images/total/header-total.gif?20160112) no-repeat;
    background-position: right -65px; }

.nav-bot ul li {
  padding: 5px 24px 0px;
  float: left; }
  .nav-bot ul li a {
    color: #000;
    line-height: 30px; }
  .nav-bot ul li a:hover {
    color: #f22; }
.nav-bot ul .nav-active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f44; }
  .nav-bot ul .nav-active a {
    color: #fff; }
  .nav-bot ul .nav-active a:hover {
    color: #fff; }

footer {
  height: 300px;
  border-top: 3px solid #f44;
  background: #f3f3f3; }

.foot-con {
  padding: 0px 50px 30px; }
  .foot-con .foot-t {
    width: 1100px;
    height: 161px;
    padding: 25px 0 0;
    position: relative; }
    .foot-con .foot-t > p {
      font-size: 9px;
      color: #999;
      text-align: center; }
    .foot-con .foot-t .p-t {
      padding: 20px 0 0;
      border-top: 1px dashed #999; }
    .foot-con .foot-t .foot-b {
      padding: 10px 0 0;
      text-align: center; }
      .foot-con .foot-t .foot-b img {
        display: inline-block; }

.app-l {
  display: inline-block;
  margin: 5px 0 0; }
  .app-l > p {
    margin: 10px 0; }

.foot-t-con {
  display: inline-block;
  padding-left: 65px;
  line-height: 25px; }
  .foot-t-con ul {
    float: left;
    margin-right: 100px; }
    .foot-t-con ul > p {
      font-size: 16px; }
    .foot-t-con ul > li {
      color: #999;
      font-size: 12px;
      list-style: disc;
      list-style-position: inside;
      cursor: pointer; }

.app-r {
  display: inline-block;
  font-size: 9px;
  top: 60px;
  right: 50px; }
  .app-r > p {
    margin-top: 20px;
    color: #666; }
  .app-r div {
    position: relative; }
    .app-r div i {
      width: 90px;
      height: 40px;
      display: inline-block;
      background: url(http://jp.juancdn.com/juanpi/images/global/service_add.gif?20160113) no-repeat;
      margin-right: 5px; }
    .app-r div i:hover {
      background-position: 0 -47px; }
    .app-r div span {
      width: 90px;
      height: 40px;
      position: absolute;
      top: 7px;
      display: inline-block; }
      .app-r div span p {
        color: #aaa; }

.vip-top {
  width: 100%;
  height: 50px;
  top: 0;
  text-align: center;
  line-height: 50px;
  background: #fff; }
  .vip-top a {
    color: #000;
    margin: 0 10px; }
    .vip-top a:hover {
      color: #f22; }

.new-v {
  background: #fff;
  background: #fff;
  box-sizing: border-box;
  padding-bottom: 20px; }
  .new-v .h5 {
    padding: 2px 16px 0; }

.new-pic {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 0 14px; }
  .new-pic li {
    width: 230px;
    height: 290px;
    overflow: hidden;
    margin: 0 6px 12px 0;
    padding: 6px 5px 0px 3px;
    border: 1px solid transparent;
    box-sizing: border-box;
    position: relative; }
    .new-pic li:hover {
      border-color: #ccc; }
    .new-pic li span {
      display: block;
      line-height: 30px;
      font-size: 18px;
      color: #f22; }
    .new-pic li p {
      line-height: 25px;
      font-size: 12px; }
    .new-pic li:hover .my-like {
      display: block; }
    .new-pic li .my-like {
      position: absolute;
      display: none;
      width: 28px;
      height: 28px;
      top: 20px;
      right: 10px;
      padding: 9px 7px;
      box-sizing: border-box;
      background: #ccc;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%; }
      .new-pic li .my-like u {
        display: block;
        width: 14px;
        height: 14px;
        background: url(http://jp.juancdn.com/juanpi/images/list/my-like.png) no-repeat; }
      .new-pic li .my-like .like-active {
        background-position-y: -20px; }

.pg {
  width: 100%;
  text-align: center; }
  .pg a {
    display: inline-block;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #666;
    font-weight: 900; }
    .pg a:nth-child(1) {
      border-top-left-radius: 16px 16px;
      border-bottom-left-radius: 16px 16px; }
    .pg a:nth-last-child(1) {
      border-top-right-radius: 16px 16px;
      border-bottom-right-radius: 16px 16px; }
    .pg a:hover {
      color: #f22; }

.vip-right {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #333; }
  .vip-right ul {
    margin-top: 100px;
    width: 36px; }
    .vip-right ul li {
      width: 36px;
      height: 36px;
      box-sizing: border-box;
      padding: 6px 8px;
      margin-bottom: 10px; }
      .vip-right ul li i {
        display: block;
        width: 20px;
        height: 24px;
        background: url(http://jp.juancdn.com/juanpi/images/global/sidebar.png) no-repeat; }
      .vip-right ul li .v-3 {
        background-position-y: -104px; }
      .vip-right ul li .v-4 {
        background-position-y: -130px; }
      .vip-right ul li .v-5 {
        background-position-y: -156px; }
      .vip-right ul li .v-6 {
        background-position-y: -182px; }
      .vip-right ul li .v-7 {
        background-position-y: -208px; }
      .vip-right ul li:hover {
        background: #f22; }
        .vip-right ul li:hover i {
          background-position-x: -26px; }
    .vip-right ul .v2 {
      height: 120px;
      padding: 21px 8px; }
      .vip-right ul .v2 .v-2 {
        height: 78px;
        background-position-y: -24px; }

/*# sourceMappingURL=list.css.map */
